global
  log         127.0.0.1 local2
  pidfile     /var/run/haproxy.pid
  maxconn     4000
  daemon

defaults
  mode                    http
  log                     global
  option                  dontlognull
  option http-server-close
  option                  redispatch
  retries                 3
  timeout http-request    10s
  timeout queue           1m
  timeout connect         10s
  timeout client          1m
  timeout server          1m
  timeout http-keep-alive 10s
  timeout check           10s
  maxconn                 3000

frontend stats
  bind *:1936
  mode            http
  log             global
  maxconn 10
  stats enable
  stats hide-version
  stats refresh 30s
  stats show-node
  stats show-desc {{ stats_desc }}
  stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_pass }}
  stats uri /stats

listen api-server-6443
  bind *:6443
  mode tcp
  "{{haproxy_servers}}"
{#   {% for server in haproxy_servers.api %}
  server {{ server.name }} {{ server.host }}:{{ server.port }} {{ server.options }}
  {% endfor %} #}

{# listen machine-config-server-22623
  bind *:22623
  mode tcp
  {% for server in haproxy_servers.mcs %}
  server {{ server.name }} {{ server.host }}:{{ server.port }} {{ server.options }}
  {% endfor %}

listen ingress-router-443
  bind *:443
  mode tcp
  balance source
  {% for server in haproxy_servers.ingress %}
  server {{ server.name }} {{ server.host }}:{{ server.port }} {{ server.options }}
  {% endfor %} #}
