apiVersion: v1
baseDomain: {{ OCP_BASE_DOMAIN }}
compute:
- name: worker
  replicas: {{ OCP_CONTROL_REPLICAS }}
controlPlane:
  name: master
  replicas: {{ OCP_COMPUTE_REPLICAS }}
metadata:
  name: {{ OCP_CLUSTER_NAME }}
networking:
  networkType: OVNKubernetes
platform:
  none: {}
fips: false
pullSecret: '{{ OCP_PULL_SECRET }}'
sshKey: '{{ ocp_config.ssh_key }}'
